.review.div.big {
    border: solid;
    border-width: 2px;
    border-color: black;
    min-height: 100px;
    max-width: 1000px; 
    background-color: lightgray;
    margin-top: 40px;
    margin-left: 150px;
}