.pendingTable {
    text-align: left;
    padding: 30px;
    min-width: 800px;
    margin-top: 300px;
}
.submittedTable {
    text-align: left;
    padding: 30px;
    min-width: 800px;
    margin-top: 300px;
}
.historicTable {
    text-align: left;
    padding: 30px;
    min-width: 800px;
    margin-top: 300px;
}

.ui.header.welcome {
   text-align: center;
   margin-top: 30px;
}

.ui.header.center.aligned.middle.aligned.grid {
    margin-bottom: 30px;
}

.ui.header.pendingTable {
    margin-left: 100px;
}
.ui.header.submittedTable {
    margin-left: 100px;
}