.formInputs{
    display: block;
}

.formInput{
    width: 80%;
}

.formInputLabel{
    display: block !important;
    /* width: 40%; */
    margin-bottom: 10px !important;
}  

span{
    margin-left: 10px;
}