.ui.form {
    position: relative;
    max-width: 100%;
    background-color: transparent;
    padding-top: 50px;
}

.ui.segment {
    /* position: relative; */
    background: #DADADA;
    width: 37.5rem;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding-top: 40px;
}

registrationDiv {
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.2 ease;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    /* background-color: #DADADA */
}

.column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    vertical-align: middle;
    align-self: center !important;
}

.userNameIn {
    width: 500px;
}

.ui.corner.labeled.input.userNameIn {
    margin-top: 30px;
}

.firstNameIn{
    width: 500px;
}

.lastNameIn {
    width: 500px;
}

.passwordIn {
    width: 500px;
}

.emailIn {
    width: 500px;
}

.phoneNumberIn {
    width: 500px;
}

.streetAddrIn {
    width: 500px;
}

#regSubmitBtn {
    background-color: #30c4f0;
    color: white;
}

#bigHead {
    margin-top: 30px;
}

.ui.header.middle.aligned.center.aligned.grid.addHead {
    margin-top: 25px;
}
.ui.corner.labeled.input.streetAddrIn {
    margin-top: 25px;
}

.cityIn {
    width: 500px;
}
.zipIn {
    width: 500px;
}